<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="NavigationMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into BB_SHOP_NAVIGATION(
			CREATE_DATE,	
			MODIFY_DATE,	
			ORDERS,	
			NAME,	
			POSITION,	
			URL,	
			ISBLANKTARGET,	
			NAVIGATION_ID
		) values (
			#{CREATE_DATE},	
			#{MODIFY_DATE},	
			#{ORDERS},	
			#{NAME},	
			#{POSITION},	
			#{URL},	
			#{ISBLANKTARGET},	
			#{NAVIGATION_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from BB_SHOP_NAVIGATION
		where 
			NAVIGATION_ID = #{NAVIGATION_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  BB_SHOP_NAVIGATION
			set 
				ORDERS = #{ORDERS},	
				NAME = #{NAME},	
				POSITION = #{POSITION},	
				URL = #{URL},	
				ISBLANKTARGET = #{ISBLANKTARGET},	
				MODIFY_DATE=#{MODIFY_DATE},
			NAVIGATION_ID = NAVIGATION_ID
			where 
				NAVIGATION_ID = #{NAVIGATION_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			CREATE_DATE,	
			MODIFY_DATE,	
			ORDERS,	
			NAME,	
			POSITION,	
			URL,	
			ISBLANKTARGET,	
			NAVIGATION_ID
		from 
			BB_SHOP_NAVIGATION
		where 
			NAVIGATION_ID = #{NAVIGATION_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.CREATE_DATE,	
				a.MODIFY_DATE,	
				a.ORDERS,	
				a.NAME,	
				a.POSITION,	
				a.URL,	
				a.ISBLANKTARGET,	
				a.NAVIGATION_ID
		from 
				BB_SHOP_NAVIGATION a
		order by 	ORDERS	
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.CREATE_DATE,	
				a.MODIFY_DATE,	
				a.ORDERS,	
				a.NAME,	
				a.POSITION,	
				a.URL,	
				a.ISBLANKTARGET,	
				a.NAVIGATION_ID
		from 
				BB_SHOP_NAVIGATION a
		order by 	ORDERS	
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from BB_SHOP_NAVIGATION
		where 
			NAVIGATION_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>